# MongoDB Connection
MONGODB_URI=mongodb+srv://web_noithat_db_user:123456789%40@cluster0.v2wimrt.mongodb.net/harmony-furniture?retryWrites=true&w=majority
# JWT Secret
JWT_SECRET=your-secret-key-here

# Email Configuration (Gmail)
EMAIL_USER=phannguyenhuyan@gmail.com
EMAIL_PASS=rhfkkdtfnrqiestm
ADMIN_EMAIL=phannguyenhuyan@gmail.com

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development
RESEND_API_KEY=re_6kACKanw_12jp2Ng7Dbdj8cq8KBhuz2R5